<!-- MODAL -->
<!-- Large modal -->
<div id="modalShowModuleSettings" class="modal fade module-settings-modal" tabindex="-1" role="dialog" aria-labelledby="moduleSettingsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="moduleModal">{{vm.selectedModule.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" ng-show="vm.selectedModule.params != null">
                <div class="row infos" ng-repeat="(key, type) in vm.selectedModule.params">
                  <strong>{{key}}</strong>
                  <intput type="text" aria-placeholder="{{value}}" />
                  <button type="button" ng-click="vm.saveSettings(vm.selectedModule);" class="btn">Save</button>
                </div>
              </div>
              <div class="form-group" ng-show="vm.selectedModule.params == null || vm.selectedModule.params.length == 0">
                <p>No parameters for this module</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODAL -->